
.wrapper {
  min-height: calc(100vh - 11rem);
}

/* Header section */
.blog__welcome {
 width: 100%;
 background-image: url(../images/img1.jpg);
 background-position: center top;
 background-size: cover;
 background-repeat: no-repeat;
 position: relative;
 padding-top: 15rem;
 padding-bottom: 2.6rem;
}

.blog__welcome::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0; 
  background: rgba(0,0,0,0.8);
  pointer-events: none;
}

.blog__welcome__txt-box {
  max-width: 120rem;
  padding: 0 2.5rem;
  margin: auto;
  position: relative;
  z-index: 2;
}

.blog__h1 {
  font-size: 3.6rem;
  line-height: 1.4;
  font-weight: 500;
  color: #fff;
  margin-bottom: 1rem;
}

.blog__h2 {
  font-size: 2.4rem;
  color: #fff;
  margin-bottom: 1.6rem;
}

.blog__h3 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 2.6rem;
}

.blog__back-to-blog {
  font-size: 1.6rem;
  color: #f54337;
}

/* Blog content and blog posts */

.blog__main {
  margin-top: 8rem;
}

.blog__content {
  max-width: 120rem;
  margin: auto;
  padding: 0 2.5rem;
}

.blog__post__title {
  font-size: 3.2rem;
  font-weight: 500;
  color: #2b2b2b;
}

.blog__post__meta {
  font-size: 1.2rem;
  padding: 1rem 0;
}

.blog__post__meta__author,
.blog__post__meta__category {
  color: #f54337;
  padding: 0 .3rem;
}

.blog__post__meta__author:hover,
.blog__post__meta__category:hover {
  text-decoration: underline;
} 

.blog__post__meta__time {
}

.blog__post__meta__category {

}

.blog__post__text {
  max-width: 90rem;
  font-size: 1.6rem;
  line-height: 30px;
  letter-spacing: .5px;
  color: #666;
  margin: 1rem 0 6rem;
}

.blog__post__continue-reading {
  font-weight: 500;
  color: #f54337;
  padding: .4rem 0;
}

.blog__post__continue-reading span {
  transition: all .2s;
}

.blog__post__continue-reading:hover span {
  padding-left: 1rem;
}

.pagination {
  font-size: 1.6rem;
  text-align: center;
  padding-bottom: 4rem;
}

.blog__more-posts {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  max-width: 120rem;
  margin: 0 auto 6rem auto;
  padding: 0 2.5rem;
  color: #2b2b2b;
  color: #f54337;
}

.blog__prvious-post:hover,
.blog__next-post:hover {
  text-decoration: underline;
}

/* Pages */
.page-numbers {
  margin: 0 .5rem;
  color: #2b2b2b;
  font-weight: 500;
}

.page-numbers:hover {
  color: #f54337;
}

.page-numbers.current {
  color: #666;
}

.page__content {
  margin-top: 8rem;
}