
.wrapper {
  min-height: calc(100vh - 11rem);
}

.horizontal-rule {
  color: #ddd;
  margin-bottom: 2.4rem;
}

/* Header section */
.blog__welcome {
 width: 100%;
 background-image: url(../images/img1.jpg);
 background-position: center top;
 background-size: cover;
 background-repeat: no-repeat;
 position: relative;
 padding-top: 15rem;
 padding-bottom: 2.6rem;
}

.blog__welcome::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0; 
  background: rgba(0,0,0,0.8);
  pointer-events: none;
}

.blog__welcome__txt-box {
  max-width: 120rem;
  padding: 0 2.5rem;
  margin: auto;
  position: relative;
  z-index: 2;
}

.blog__h1 {
  font-size: 3.6rem;
  line-height: 1.4;
  font-weight: 500;
  color: #fff;
  margin-bottom: 1rem;
}

.blog__h2 {
  font-size: 2.4rem;
  color: #fff;
  margin-bottom: 1.6rem;
}

.blog__h3 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 2.6rem;
}

.blog__back-to-blog {
  font-size: 1.6rem;
  color: #f54337;
  border-bottom: 1px solid transparent;
}

.blog__back-to-blog:hover {
  border-bottom: 1px solid #f54337;
}

/* Blog content and blog posts */

.blog__main {
  margin-top: 8rem;
}

.blog__content {
  max-width: 120rem;
  margin: auto;
  padding: 0 2.5rem;
}

.blog__post__title {
  font-size: 3.2rem;
  font-weight: 500;
  color: #2b2b2b;
}

.blog__post__title:hover {
  color: #f54337;
}

.blog__post__meta {
  font-size: 1.2rem;
  padding: .8rem 0 1.6rem;
}

.blog__post__meta__author,
.blog__post__meta__category {
  color: #f54337;
  padding: 0 .3rem;
}

.blog__post__featured-image {
  margin-bottom: 4rem;
}

.blog__archive__featured-image {
  margin-top: 2rem;
  margin-bottom: 2.4rem;
}

.blog__post__text {
  max-width: 90rem;
  font-size: 1.6rem;
  line-height: 30px;
  letter-spacing: .5px;
  color: #666;
  margin: 1rem 0 8rem;
}

.blog__post__continue-reading {
  font-weight: 500;
  color: #f54337;
  padding: .4rem 0;
}

.blog__post__continue-reading span {
  transition: all .2s;
}

.blog__post__continue-reading:hover span {
  padding-left: 1rem;
}

.pagination {
  font-size: 1.6rem;
  text-align: center;
  padding-bottom: 4rem;
}

.blog__more-posts {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  max-width: 120rem;
  margin: 0 auto 6rem auto;
  padding: 0 2.5rem;
  color: #f54337;
}

.blog__previous-post,
.blog__next-post {
  border-bottom: 1px solid transparent;
}

.blog__previous-post:hover,
.blog__next-post:hover {
  border-bottom: 1px solid #f54337;
}

.blog__previous-post__img {
  height: 100px;
  width: 100px;
  overflow: hidden;
}

/* Pages */
.page-numbers {
  margin: 0 .5rem;
  color: #2b2b2b;
  font-weight: 500;
}

.page-numbers:hover {
  color: #f54337;
}

.page-numbers.current {
  color: #666;
}

.page__content {
  margin-top: 8rem;
}


/* Courses custom post type */
.course__date {
  position: relative;
  display: inline-block;
  width: 28rem;
  font-size: 2rem;
  font-weight: 500;
  padding: .8rem 1.6rem;
  color: #f54337;
  background-color: #f0f0f0;
  border-radius: 4px;
  margin-bottom: .8rem;
  margin-left: -1.6rem;
}

.course__date--single-course {
  display: inline-block;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  color: #fff;
  background-color: #f54337;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.course__address {
  font-size: 1.6rem;
  color: #f54337;
}

.course__go-to-archive {
  font-size: 1.6rem;
  text-align: center;
  margin: 0 auto 6rem auto;
}

.course__go-to-archive__link {
  color: #f54337;
  border-bottom: 1px solid transparent;
}

.course__go-to-archive__link:hover {
  border-bottom: 1px solid #f54337;
}

.course__instructors__h2 {
  font-size: 2.4rem;
  color: #2b2b2b;
  margin-bottom: 3.2rem;
}

.course__instructors__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.course__instructor {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.course__instructor:not(:last-of-type) {
  margin-right: 2.4rem;
}

.course__instructor__image {
  transition: transform .3s;
}

.course__instructor__image:hover {
  transform: scale(1.1);
}

.course__instructor__name {
  display: inline-block;
  width: 300px;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 1.6rem;
  text-align: center;
  color: #fff;
  background-color: #f54337;
  padding: .4rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}


/* Instructor post type */

.instructor__container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 6rem;
}

.instructor__image {
  border-radius: 4px;
}

.instructor__text {
  font-size: 1.6rem;
  line-height: 30px;
  letter-spacing: .5px;
  color: #666;
  padding: 2.4rem;
}

.instructor__slogan {
  font-style: italic;
}

.instructor__contact {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 6rem;
}

.instructor__contact__mail {
  font-weight: 400;
  transition: color .2s;
}

.instructor__contact__mail:hover {
  color: #f54337;
}

@media only screen and (max-width: 700px) {

  .instructor__container {
    flex-direction: column;
  }

  .instructor__text {
    padding: 2.4rem 0;
  }

}